
 
#TournamentDetails {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #TournamentDetails td, #TournamentDetails th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #TournamentDetailss tr:nth-child(even){background-color: #f2f2f2;}
  
  #TournamentDetails tr:hover {background-color: #ddd;}
  #TournamentDetails th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  

  body{
    font-family: Helvetica, sans-serif;
    background-color:white;
  }
  
  .showbar {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: auto;
    width: 35%;
    margin-top: 10px;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: #EA4335;
    text-align: center;
    font-size: 20px;
    font-family: serif;
  
  
  }
  
  .titlecontent {
  
    background-color: #333;
    color: white;
    font-style: bold;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: flex;
    width: fit-content;
    margin: auto;
    margin-top:10px;
    margin-bottom:10px;
  
  }
  
  .linktag {
    background-color: #008CBA;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    display: flex;
    width: fit-content;
    margin: auto;
    margin-top: 12px;
  }
  
  .lilinput {
    background-color: #f44336;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  input[type=text], input[type=email],
  input[type=password], input[type=date],
   select, textarea {
    width: 100%;
    padding: 8px;
    margin: 2px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=radio], input[type=checkbox]  {
    padding: 2px;
    margin: 2px;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 70px;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /*a {
    background-color: #04AA6D;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
  }*/
  
  form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: auto;
    width: 35%;
  }
  
  
  
  .error {
      white-space:pre;
      display: block;
      margin: 2px;
      padding: 5px;
      color: red;
  
    }
  